body{
    text-align: center;
    display: flex;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    justify-content: center;
}
#modalPerdiste {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 100;
    background-color: #fff;
}
#instrucciones{
    background-color: #ccffd9;
}
#input { 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display:flex;
    text-align: center;
    justify-content: center;
}
#submit {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    display:flex;
    justify-content: center;
}
#siguiente {
    text-align: center;
    display:flex;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}
#comenzar {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    display:inline;
    justify-content: center;
}
#ganaste , #ganasteFinal , #instrucciones {
    background-color: #ccffd9;
}
#todo {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    display:flex;
    justify-content: center;
    font-size: 40px;
}
.cables{
    display: inline;
    align-items: center;
}

